@charset "UTF-8";
#wrap {
  width: 100%;
}
#wrap > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
#wrap > header > div.renewal {
  background-color: #0e0e0e;
}
#wrap > header > div.renewal > a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > header > div.renewal > a {
    display: none;
  }
}
#wrap > header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-height: 100px;
  margin: 0 auto;
}
#wrap > header > nav > .hambugerMenu {
  display: none;
}
#wrap > header > nav > .light {
  text-indent: -9999px;
}
@media screen and (max-width: 640px) {
  #wrap > header > nav {
    width: 100%;
    height: 50px;
  }
  #wrap > header > nav > .light {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1a1a1a;
    opacity: 90%;
    text-indent: -9999px;
  }
  #wrap > header > nav > .light.on {
    display: block;
  }
  #wrap > header > nav > .hambugerMenu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    border: 1px solid #000;
    background-color: #f4f4f4;
  }
  #wrap > header > nav > .hambugerMenu.on {
    display: block;
  }
  #wrap > header > nav > .hambugerMenu > p {
    color: #777;
    margin: 20px;
  }
  #wrap > header > nav > .hambugerMenu > p > span:after {
    content: "│";
  }
  #wrap > header > nav > .hambugerMenu > p > span:last-child:after {
    content: "";
  }
  #wrap > header > nav > .hambugerMenu .shop {
    width: 80%;
    height: 26px;
    margin: 20px 20px 40px;
    border: 1px solid #000;
    border-radius: 50px;
  }
  #wrap > header > nav > .hambugerMenu .shop > .shopMenu {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #wrap > header > nav > .hambugerMenu .shop > .shopMenu > p {
    border: 1px solid #000;
    width: 50%;
    height: 100%;
    line-height: 26px;
    text-align: center;
    border-radius: 50px;
  }
  #wrap > header > nav > .hambugerMenu .shop > .shopMenu > p > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #wrap > header > nav > .hambugerMenu .shop > .shopMenu > p:first-child {
    border: none;
  }
  #wrap > header > nav > .hambugerMenu .shop > .shopMenu > p:last-child {
    border: none;
  }
  #wrap > header > nav > .hambugerMenu .shop > .shopMenu > p.on {
    background-color: #110808;
  }
  #wrap > header > nav > .hambugerMenu .shop > .shopMenu > p.on > a {
    color: #fff;
  }
  #wrap > header > nav > .hambugerMenu ul {
    margin-left: 20px;
  }
  #wrap > header > nav > .hambugerMenu ul > li {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    height: 20px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  #wrap > header > nav > .hambugerMenu ul > li .saltHouse {
    display: none;
  }
  #wrap > header > nav > .hambugerMenu ul > li > a {
    color: #110808;
  }
  #wrap > header > nav > .hambugerMenu ul > li > ol > li {
    font-size: 12px;
  }
  #wrap > header > nav > .hambugerMenu ul > li > ol > li > a {
    color: #777;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(1).on {
    height: 140px;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(1).on > ol {
    display: block;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(1) > ol {
    display: none;
    position: absolute;
    left: 10px;
    top: 20px;
    width: 80px;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(1) > ol > li {
    margin-bottom: 5px;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(1) > ol > li:last-child {
    margin: 0;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(4) {
    color: #000;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(4).on {
    height: 52px;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(4).on > ol {
    display: block;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(4) > ol {
    display: none;
    position: absolute;
    left: 10px;
    top: 20px;
    width: 80px;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(4) > ol > li {
    margin-bottom: 5px;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(5).on {
    height: 116px;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(5).on > ol {
    display: block;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(5) > ol {
    display: none;
    position: absolute;
    left: 10px;
    top: 20px;
    width: 90px;
  }
  #wrap > header > nav > .hambugerMenu ul > li:nth-child(5) > ol > li {
    margin-bottom: 5px;
  }
}
#wrap > header > nav > h1 {
  width: 78px;
  height: 78px;
  text-indent: -9999px;
  background-image: url(./../images/logo.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 640px) {
  #wrap > header > nav > h1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    background-image: url(./../images/logo2.jpg);
    transform: translate(0, -50%);
  }
}
#wrap > header > nav > P {
  width: 20px;
  display: none;
}
#wrap > header > nav > P > a {
  display: block;
  width: 100%;
  height: 20px;
}
@media screen and (max-width: 640px) {
  #wrap > header > nav > P {
    display: block;
    position: absolute;
    right: 40px;
    top: 50%;
    font-size: 16px;
    transform: translate(0, -50%);
  }
}
#wrap > header > nav > .gnb {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-60%, 0);
}
@media screen and (max-width: 640px) {
  #wrap > header > nav > .gnb {
    display: none;
  }
}
#wrap > header > nav > .gnb > li {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 140px;
  font-size: 16px;
  text-align: center;
}
#wrap > header > nav > .gnb > li:hover > .lnb {
  display: block;
  top: 48px;
}
#wrap > header > nav > .gnb > li:last-child {
  margin: 0;
}
#wrap > header > nav > .gnb > li > a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
#wrap > header > nav > .gnb > li > .lnb {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  font-size: 15px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  transform: translate(-50%, 0);
  transition: all 1s;
}
#wrap > header > nav > .gnb > li > .lnb > li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#wrap > header > nav > .gnb > li > .lnb > li:last-child {
  border: none;
}
#wrap > header > nav > .addmin {
  width: 300px;
  display: flex;
}
@media screen and (max-width: 640px) {
  #wrap > header > nav > .addmin {
    display: none;
  }
}
#wrap > header > nav > .addmin > p {
  width: 60px;
  margin-right: 10px;
}
#wrap > header > nav > .addmin > p:last-child {
  margin: 0;
}
#wrap > section {
  margin-top: 88px;
}
@media screen and (max-width: 640px) {
  #wrap > section {
    width: 100%;
    margin-top: 18px;
  }
}
#wrap > section > .main-banner {
  width: 100%;
  text-indent: -9999px;
}
#wrap > section > .main-banner > a {
  display: block;
  width: 100%;
  height: 923px;
  margin-bottom: 50px;
  background-image: url(./../images/main-banner.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 640px) {
  #wrap > section > .main-banner > a {
    width: 100%;
    height: 278px;
  }
}
#wrap > section > .product-guide {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide {
    width: 100%;
  }
}
#wrap > section > .product-guide > .product-guide-txt {
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-txt {
    text-align: center;
    margin: 20px;
  }
}
#wrap > section > .product-guide > .product-guide-txt > h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-txt > h2 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
#wrap > section > .product-guide > .product-guide-txt > p {
  font-size: 15px;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-txt > p {
    font-size: 12px;
  }
}
#wrap > section > .product-guide > .product-guide-Kategorie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-Kategorie {
    flex-flow: row wrap;
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  #wrap > section > .product-guide > .product-guide-Kategorie {
    flex-flow: row wrap;
    width: 90%;
  }
}
#wrap > section > .product-guide > .product-guide-Kategorie > li {
  width: 200px;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-Kategorie > li {
    margin-bottom: 20px;
    text-align: center;
  }
  #wrap > section > .product-guide > .product-guide-Kategorie > li:last-child {
    align-items: center;
  }
}
@media screen and (max-width: 640px) and (max-width: 550px) {
  #wrap > section > .product-guide > .product-guide-Kategorie > li {
    width: 150px;
    margin-bottom: 20px;
    text-align: center;
  }
  #wrap > section > .product-guide > .product-guide-Kategorie > li:last-child {
    align-items: center;
  }
}
#wrap > section > .product-guide > .product-guide-Kategorie > li > a {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto 10px;
  text-indent: -9999px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #333;
  border-radius: 50%;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-Kategorie > li > a {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
  }
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(1) > a {
  background-image: url(./../images/thumb1.jpg);
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(2) > a {
  background-image: url(./../images/thumb2.jpg);
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(3) > a {
  background-image: url(./../images/thumb3.jpg);
  background-position: -25px center;
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(4) > a {
  background-image: url(./../images/thumb4.webp);
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(5) > a {
  background-image: url(./../images/thumb5.jpg);
}
#wrap > section .product-best > .product-best-txt {
  margin: 150px 0 70px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .product-best-txt {
    margin: 500px 0 70px;
  }
}
#wrap > section .product-best > .product-best-txt > h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
#wrap > section .product-best > .product-best-txt > p {
  margin-bottom: 20px;
}
#wrap > section .product-best > .product-best-txt > .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .product-best-txt > .menu {
    flex-flow: row wrap;
    width: 60%;
    height: 140px;
  }
}
@media screen and (max-width: 550px) {
  #wrap > section .product-best > .product-best-txt > .menu {
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    height: 140px;
  }
}
#wrap > section .product-best > .product-best-txt > .menu > li {
  width: 70px;
}
#wrap > section .product-best > .product-best-txt > .menu > li:hover > a, #wrap > section .product-best > .product-best-txt > .menu > li.on > a {
  color: #fff;
  background-color: #2f2720;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .product-best-txt > .menu > li {
    width: 90px;
  }
}
@media screen and (max-width: 550px) {
  #wrap > section .product-best > .product-best-txt > .menu > li {
    width: 90px;
  }
}
#wrap > section .product-best > .product-best-txt > .menu > li:nth-child(4) {
  width: 130px;
}
#wrap > section .product-best > .product-best-txt > .menu > li > a {
  display: block;
  height: 50px;
  color: #999;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  background-color: #eee;
  border-radius: 8px;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .product-best-txt > .menu > li > a {
    width: 100px;
  }
}
@media screen and (max-width: 550px) {
  #wrap > section .product-best > .product-best-txt > .menu > li > a {
    width: 100px;
  }
}
#wrap > section .product-best > .menu-item {
  display: none;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
#wrap > section .product-best > .menu-item.set span {
  color: #ff0000;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .menu-item {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  #wrap > section .product-best > .menu-item {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
}
#wrap > section .product-best > .menu-item:nth-of-type(1) {
  display: flex;
}
#wrap > section .product-best > .menu-item li {
  width: 40%;
}
#wrap > section .product-best > .menu-item li > a {
  display: block;
  width: 75%;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .menu-item li > a {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  #wrap > section .product-best > .menu-item li > a {
    width: 100%;
  }
}
#wrap > section .product-best > .menu-item li > a:hover > .picture > img {
  transform: scale(1.1);
}
#wrap > section .product-best > .menu-item li > a > .picture {
  width: 100%;
  overflow: hidden;
}
#wrap > section .product-best > .menu-item li > a > .picture > img {
  display: block;
  width: 150px;
  height: 200px;
  margin: 30px auto 0;
  transition: all 0.3s;
}
#wrap > section .product-best > .menu-item li > a > .item-cont > p:nth-child(1) {
  font-size: 14px;
}
#wrap > section .product-best > .menu-item li > a > .item-cont > p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
}
#wrap > section .product-best > .menu-item li > a > .item-cont > p:nth-child(3) {
  font-size: 16px;
  font-weight: 800;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .menu-item li > a > .item-cont {
    text-align: center;
  }
}
#wrap > section .product-best > .menu-item li > a > .desc {
  color: #777;
  font-size: 12px;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .menu-item li > a > .desc {
    display: none;
  }
}
#wrap > section .product-best > .menu-item li > a > .rating {
  font-size: 15px;
  font-weight: bold;
  color: #777;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .menu-item li > a > .rating {
    display: none;
  }
}
#wrap > section > .story {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  height: 700px;
  margin-top: 90px;
}
@media screen and (max-width: 640px) {
  #wrap > section > .story {
    display: block;
  }
}
#wrap > section > .story.recipe {
  margin-top: 500px;
}
#wrap > section > .story.recipe .story-banner {
  order: 200;
  background-image: url(./../images/recipe.png);
}
#wrap > section > .story.recipe .recipe-cont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
@media screen and (max-width: 640px) {
  #wrap > section > .story.recipe .recipe-cont {
    align-items: center;
    text-align: center;
  }
}
#wrap > section > .story.address {
  margin: 300px 0 150px;
}
#wrap > section > .story.address .story-banner {
  background-image: url(./../images/address.png);
}
#wrap > section > .story.address h2 {
  line-height: 1.6;
}
#wrap > section > .story > .story-banner {
  width: 950px;
  height: 700px;
  text-indent: -9999px;
  background-color: #333;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../images/storyBanner.png);
}
@media screen and (max-width: 640px) {
  #wrap > section > .story > .story-banner {
    width: 100%;
    height: 500px;
  }
}
#wrap > section > .story > .story-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 0;
  background-color: rgba(249, 249, 249, 0.9764705882);
  padding: 40px;
}
#wrap > section > .story > .story-start > .story-start-cont {
  align-self: center;
  width: 100%;
}
@media screen and (max-width: 640px) {
  #wrap > section > .story > .story-start > .story-start-cont {
    margin: 0 auto;
    text-align: center;
  }
}
#wrap > section > .story > .story-start > .story-start-cont > h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
#wrap > section > .story > .story-start > .story-start-cont > p {
  line-height: 2;
  margin-bottom: 40px;
}
#wrap > section > .story > .story-start > .story-start-cont > a {
  display: block;
  width: 160px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
}
@media screen and (max-width: 640px) {
  #wrap > section > .story > .story-start > .story-start-cont > a {
    margin: 40px auto;
  }
}
#wrap > section > .sale {
  position: relative;
  margin: 150px 0 70px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > section > .sale {
    margin: 200px 0 70px;
  }
}
#wrap > section > .sale > h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
@media screen and (max-width: 640px) {
  #wrap > section > .sale > h2 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
#wrap > section > .second-banner {
  position: absolute;
  left: 0;
  top: 500;
  width: 100%;
  height: 305px;
  background-image: url(./../images/secondBanner.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#wrap > section > .fixed {
  font-size: 45px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 500;
  width: 100%;
  height: 305px;
  line-height: 305px;
  color: #fff;
}
#wrap > footer {
  position: relative;
  width: 100%;
  padding: 120px 0 50px;
  background-color: #0e0e0e;
}
#wrap > footer > .info {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
  color: #777;
  border-bottom: 1px solid #777;
}
@media screen and (max-width: 640px) {
  #wrap > footer > .info {
    display: block;
    width: 90%;
  }
}
#wrap > footer > .info > .address {
  flex: 1;
  margin-right: 50px;
}
#wrap > footer > .info > .address > h2 {
  margin-bottom: 22px;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}
#wrap > footer > .info > .address > p {
  margin-bottom: 12px;
}
#wrap > footer > .info > .address > ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  #wrap > footer > .info > .address > ul {
    height: 70px;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}
#wrap > footer > .info > .address > ul > li {
  width: 120px;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  text-align: center;
  border: 1px solid #777;
  border-radius: 5px;
}
@media screen and (max-width: 640px) {
  #wrap > footer > .info > .address > ul > li {
    align-self: self-start;
  }
}
#wrap > footer > .info > .address > ul > li:nth-child(1), #wrap > footer > .info > .address > ul > li:nth-child(2), #wrap > footer > .info > .address > ul > li:nth-child(3) {
  width: 50px;
}
#wrap > footer > .info > .address > ul > li:nth-child(5) {
  width: 80px;
}
#wrap > footer > .info > .address > ul > li:nth-child(6) {
  width: 100px;
}
#wrap > footer > .info > .address > ul > li:nth-child(7) {
  width: 110px;
}
#wrap > footer > .info > .customer {
  display: flex;
  flex: 1 1;
}
#wrap > footer > .info > .customer > ul {
  flex: 1 1 0;
  height: 60%;
  font-size: 13px;
  text-align: center;
  border-left: 1px solid #777;
}
@media screen and (max-width: 640px) {
  #wrap > footer > .info > .customer > ul {
    margin-top: 20px;
    border: none;
  }
}
#wrap > footer > .info > .customer > ul:first-child {
  border: none;
  margin: none;
}
#wrap > footer > .info > .customer > ul:first-child > li {
  margin: 0 0 10px;
}
#wrap > footer > .info > .customer > ul > li {
  flex: 1;
  margin: 0 30px 10px;
  text-align: left;
}
#wrap > footer > .law {
  display: flex;
  margin: 60px 270px 0;
  width: 520px;
  font-size: 13px;
}
@media screen and (max-width: 640px) {
  #wrap > footer > .law {
    margin: 40px 10px;
  }
}
#wrap > footer > .law > li {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #777;
  border-right: 1px solid #777;
}
#wrap > footer > .law > li:nth-child(1) {
  width: 140px;
  color: #fff;
  font-weight: 600;
}
#wrap > footer > .law > li:last-child {
  border: none;
}
#wrap > footer > .top {
  position: absolute;
  right: 320px;
  top: 60%;
  width: 50px;
}
@media screen and (max-width: 640px) {
  #wrap > footer > .top {
    right: 0;
    top: 720px;
  }
}
#wrap > footer > .top > a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #777;
  font-size: 38px;
  font-weight: 200;
  text-align: center;
  border: 1px solid #777;
  border-radius: 50%;
}
@media screen and (max-width: 640px) {
  #wrap > footer > .top > a {
    width: 50%;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */