#wrap {
  width: 100%;
}
#wrap > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
#wrap > header > div.renewal {
  background-color: #222;
}
#wrap > header > div.renewal > a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > header > div.renewal > a {
    display: none;
  }
}
#wrap > header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-height: 100px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  #wrap > header > nav {
    width: 100%;
    height: 50px;
  }
}
#wrap > header > nav > h1 {
  width: 78px;
  height: 78px;
  text-indent: -9999px;
  background-image: url(./../images/logo.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 640px) {
  #wrap > header > nav > h1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    background-image: url(./../images/logo2.jpg);
    transform: translate(0, -50%);
  }
}
#wrap > header > nav > ul {
  display: flex;
}
@media screen and (max-width: 640px) {
  #wrap > header > nav > ul {
    display: none;
  }
}
#wrap > header > nav > ul > li {
  margin-right: 25px;
  font-size: 16px;
}
#wrap > header > nav > ul > li:last-child {
  margin: 0;
}
#wrap > header > nav > .addmin {
  display: flex;
}
@media screen and (max-width: 640px) {
  #wrap > header > nav > .addmin {
    display: none;
  }
}
#wrap > header > nav > .addmin > p {
  margin-right: 10px;
}
#wrap > header > nav > .addmin > p:last-child {
  margin: 0;
}
#wrap > section {
  margin-top: 120px;
}
@media screen and (max-width: 640px) {
  #wrap > section {
    width: 100%;
    margin-top: 50px;
  }
}
#wrap > section > .main-banner {
  width: 100%;
  text-indent: -9999px;
}
#wrap > section > .main-banner > a {
  display: block;
  width: 100%;
  height: 923px;
  background-image: url(./../images/main-banner.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 640px) {
  #wrap > section > .main-banner > a {
    width: 100%;
    height: 278px;
  }
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide {
    width: 100%;
  }
}
#wrap > section > .product-guide > .product-guide-txt {
  margin: 150px 0 70px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-txt {
    text-align: center;
    margin: 20px;
  }
}
#wrap > section > .product-guide > .product-guide-txt > h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-txt > h2 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
#wrap > section > .product-guide > .product-guide-txt > p {
  font-size: 15px;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-txt > p {
    font-size: 12px;
  }
}
#wrap > section > .product-guide > .product-guide-Kategorie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-Kategorie {
    flex-flow: row wrap;
    width: 100%;
  }
}
#wrap > section > .product-guide > .product-guide-Kategorie > li {
  width: 220px;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-Kategorie > li {
    margin-bottom: 20px;
    text-align: center;
  }
  #wrap > section > .product-guide > .product-guide-Kategorie > li:last-child {
    align-items: center;
  }
}
#wrap > section > .product-guide > .product-guide-Kategorie > li > a {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto 10px;
  text-indent: -9999px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #333;
  border-radius: 50%;
}
@media screen and (max-width: 640px) {
  #wrap > section > .product-guide > .product-guide-Kategorie > li > a {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
  }
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(1) > a {
  background-image: url(./../images/thumb1.jpg);
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(2) > a {
  background-image: url(./../images/thumb2.jpg);
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(3) > a {
  background-image: url(./../images/thumb3.jpg);
  background-position: -25px center;
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(4) > a {
  background-image: url(./../images/thumb4.webp);
}
#wrap > section > .product-guide > .product-guide-Kategorie > li:nth-child(5) > a {
  background-image: url(./../images/thumb5.jpg);
}
#wrap > section .product-best > .product-best-txt {
  margin: 150px 0 70px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .product-best-txt {
    position: relative;
  }
}
#wrap > section .product-best > .product-best-txt > h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
#wrap > section .product-best > .product-best-txt > .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  margin: 0 auto;
}
#wrap > section .product-best > .product-best-txt > .menu > li {
  width: 70px;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .product-best-txt > .menu > li {
    display: none;
    position: absolute;
    left: 40%;
    top: 75%;
    transform: translate(-50% -50%);
  }
}
#wrap > section .product-best > .product-best-txt > .menu > li:nth-child(1) {
  width: 90px;
}
#wrap > section .product-best > .product-best-txt > .menu > li:nth-child(2) {
  width: 90px;
}
#wrap > section .product-best > .product-best-txt > .menu > li:nth-child(3) {
  width: 90px;
}
#wrap > section .product-best > .product-best-txt > .menu > li:nth-child(4) {
  display: block;
  width: 130px;
}
#wrap > section .product-best > .product-best-txt > .menu > li > a {
  display: block;
  height: 50px;
  color: #999;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  background-color: #eee;
  border-radius: 8px;
}
@media screen and (max-width: 640px) {
  #wrap > section .product-best > .product-best-txt > .menu > li > a {
    width: 100px;
  }
}
#wrap > section .product-best > .menu-item {
  display: none;
  justify-content: center;
  left: 50%;
  top: 160%;
}
#wrap > section .product-best > .menu-item:nth-of-type(5) {
  display: flex;
}
#wrap > section .product-best > .menu-item li > a {
  display: block;
  width: 240px;
}
#wrap > section .product-best > .menu-item li > a:hover > .picture > img {
  transform: scale(1.1);
}
#wrap > section .product-best > .menu-item li > a > .picture {
  width: 250px;
  height: 310px;
  overflow: hidden;
}
#wrap > section .product-best > .menu-item li > a > .picture > img {
  display: block;
  width: 150px;
  height: 240px;
  margin: 30px auto 0;
  transition: all 0.3s;
}
#wrap > section .product-best > .menu-item li > a > .item-cont > p:nth-child(1) {
  font-size: 14px;
}
#wrap > section .product-best > .menu-item li > a > .item-cont > p:nth-child(2), #wrap > section .product-best > .menu-item li > a > .item-cont > p:nth-child(3) {
  font-size: 18px;
  font-weight: bold;
}
#wrap > section .product-best > .menu-item li > a > .desc {
  color: #777;
  font-size: 12px;
}
#wrap > section .product-best > .menu-item li > a > .rating {
  font-size: 15px;
  font-weight: bold;
  color: #777;
}
#wrap > section > .story {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  height: 700px;
  margin-top: 90px;
}
#wrap > section > .story.recipe {
  margin-top: 500px;
}
#wrap > section > .story.recipe .story-banner {
  order: 200;
  background-image: url(./../images/recipe.png);
}
#wrap > section > .story.address {
  margin: 300px 0 150px;
}
#wrap > section > .story.address .story-banner {
  background-image: url(./../images/address.png);
}
#wrap > section > .story.address h2 {
  line-height: 1.6;
}
#wrap > section > .story > .story-banner {
  width: 950px;
  height: 700px;
  text-indent: -9999px;
  background-color: #333;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../images/storyBanner.png);
}
#wrap > section > .story > .story-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 0;
  background-color: rgba(249, 249, 249, 0.9764705882);
  padding: 40px;
}
#wrap > section > .story > .story-start > .story-start-cont {
  align-self: center;
  width: 100%;
}
#wrap > section > .story > .story-start > .story-start-cont > h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
#wrap > section > .story > .story-start > .story-start-cont > p {
  line-height: 2;
  margin-bottom: 40px;
}
#wrap > section > .story > .story-start > .story-start-cont > a {
  display: block;
  width: 160px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
}
#wrap > section > .sale {
  position: relative;
  margin: 150px 0 70px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #wrap > section > .sale {
    text-align: center;
    margin: 20px;
  }
}
#wrap > section > .sale > h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
@media screen and (max-width: 640px) {
  #wrap > section > .sale > h2 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
#wrap > section > .second-banner {
  position: absolute;
  left: 0;
  top: 500;
  width: 100%;
  height: 305px;
  background-image: url(./../images/secondBanner.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#wrap > section > .fixed {
  font-size: 45px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 500;
  width: 100%;
  height: 305px;
  line-height: 305px;
  color: #fff;
}
#wrap > footer {
  height: 60px;
  background-color: #222;
}/*# sourceMappingURL=style.css.map */